.showcaseWrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
}

.showcaseContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    padding: 20px;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    -webkit-mask-image: linear-gradient(to right, #000 85%, transparent 100%);
    mask-image: linear-gradient(to right, #000 85%, transparent 100%);

}

@media (max-width: 1024px) {
    .showcaseWrapper {
        margin: 20px auto;
        padding: 20px 10px;
        width: 95%;
    }

    .showcaseContainer {
        padding: 10px 5px;
        gap: 15px;
    }

    .CardWrapper {
        width: 200px;
    }
}