.schemaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
}

.schemaSvg {
    aspect-ratio: 4 / 3;
    width: clamp(280px, 85vw, 800px);
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}